.App {
  text-align: center;
}
#nav{
  background-color: gold
}
#button{
  
}
#input{
  background-color:white;
  color: black;
}
#main{
  background-color: teal;
}
#paragraph{
  color: coral;
  font-size: 30px;
}
/* #pic{
  background-image: url(../src/ajwa1.jpg);
} */
#head{
  color:rgb(216, 195, 5);
  font-size: 50px;
}
#head1{
  font-size: 30px;
}
#cards{
  margin-bottom: 30px;
}
#pic1{
height: 250px;
width: 250px;
}
#Document{
  color: firebrick;
  font-size: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Doc-p{
  color: white;
  font-size: 30px;
  font-family: fantasy;
}
#pics{
  align-items: center;
}
#sub{
  background-color: cadetblue;
}
#sub-btn{
background-color: lightsalmon;
}
#sub1{
  margin-top: 50px;
}
#sub2{
  margin-top: 80px;
  margin-right: 50px;
}
#ajwa{
  font-size: 70px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
footer{
  background-color: rgb(7, 87, 90);
}
#info{
  color: aqua;
  font-family: monospace;
}
#heading{
  color:   hsl(189, 98%, 50%)
  ;
}
#top-btn{
  color:rgb(33, 6, 107);
}
#login{
  margin-left: 10px;
}